<?xml version="1.0"?>
<launch>
  <arg name="robot" default="iiwa" />

   <include file="$(find rll_planning_project)/launch/path_planner.launch" >
       <arg name="robot" value="$(arg robot)" />
   </include>

   <include file="$(find rll_tools)/launch/run_project.launch" >
     <arg name="robot" value="$(arg robot)" />
   </include>

</launch>
